<div class='live-bg'>
  <video autoplay muted loop>
    <source src='/images/plane-bg.mp4' />
  </video>
</div>

<div class='container vh-100 d-flex justify-content-center align-items-center'>
  <div class='col-10 col-md-6'>
    <h1 class='text-center custom-h1'>Love At First Flight</h1>
    <div class='col-md-10 mx-auto'>
      <h2 class='text-center'>login</h2>

      <form class='form login-form'>
        <div class='form-group mb-2 row'>
          <input
            class='form-input'
            type='text'
            id='email-login'
            placeholder='username'
          />
        </div>
        <div class='form-group mb-2 row'>
          <input
            class='form-input'
            type='password'
            id='password-login'
            placeholder='password'
          />
        </div>
        <div class='form-group my-4 text-center'>
          <button class='btn btn-primary' type='submit'>login</button>
        </div>
      </form>
    </div>

    <div class='col-md-10 mx-auto'>
      <h2 class='text-center mt-5'>signup</h2>

      <form class='form signup-form'>
        <div class='form-group mb-2 row'>
          <input
            class='form-input'
            type='text'
            id='name-signup'
            placeholder='username'
          />
        </div>
        <div class='form-group mb-2 row'>
          <input
            class='form-input'
            type='text'
            id='email-signup'
            placeholder='email'
          />
        </div>
        <div class='form-group mb-2 row'>
          <input
            class='form-input'
            type='password'
            id='password-signup'
            placeholder='password'
          />
        </div>
        <div class='form-group my-4 text-center'>
          <button class='btn btn-primary' type='submit'>signup</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='/js/login.js'></script>