<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Love At First Flight</title>
  </head>
  <body>
    <div class="container mt-5 d-flex justify-content-center">
      <div class="feed col-md-6">
        {{#each posts as |post|}}
        <div class="card text-center" style="max-width: 20rem;">
            <div class="card-header"><span class="user">Marcus</span></div>
            <div class="card-body">
              <p class="card-text">
                just visited
                <span class="state">Texas</span>
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            <div class="card-footer">5/31/2022</div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>


