<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="./style.css" />
        <title>Love At First Flight</title>
    </head>
    <body>
        <div class="live-bg">
            <video autoplay muted loop>
                <source
                    src="https://stream.mux.com/k5VXbLp398vE1VFVb1zivKDG02Q33qNM02/high.mp4?token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InQ5UHZucm9ZY0hQNjhYSmlRQnRHTEVVSkVSSXJ0UXhKIn0.eyJleHAiOjE2NTM1NDk2NzcsImF1ZCI6InYiLCJzdWIiOiJrNVZYYkxwMzk4dkUxVkZWYjF6aXZLREcwMlEzM3FOTTAyIn0.e-TDyNIZMbH3m4nm-m6apODnMBxGLToM8mdbz-60PZ6Ne99iU11NUECJrlLy3VzBeOOEe4cMhwSeAWEoShciGf52ciQFVfAaEuize9SJxeyL9aoq24K6RJnXOxe7cQwhgv2WbSgNMHBJBb_PHnAQtjelWj-wbSI7MCv1sv4iobUu-bU66ArB_Wh4zD0tdsU6Sz50jVfb3m5D4xfUhx_VfYOJ2K6zwy3vMyKlmyQjeO5WKoLoXTf9KOYZTkpZQZ5ywKfjE0dGgU8ZEQWXbRWplqVLBiiIoLccgd5AvtSn-9GpzQBdYo5gLU7vcwO4-aIilkF6lEPPOAwOERzcmxk8yw"
                />
            </video>
        </div>

        <div class="container position-absolute top-50 start-50 translate-middle">
            <div class="col-md-4 mx-auto">
                <form class="form signup-form">
                    <div class="form-group mb-2 row">
                        <input class="form-input" type="text" id="name-signup" placeholder="username" />
                    </div>
                    <div class="form-group mb-2 row">
                        <input class="form-input" type="password" id="password-signup" placeholder="password" />
                    </div>
                    <div class="form-group my-4 text-center">
                        <button class="btn btn-primary" type="submit">login</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
