<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Love At First Flight</title>
  </head>
  <body>
    <div class="live-bg">
      <video autoplay muted loop>
        <source src="./live-bg.mp4" />
      </video>
    </div>

    <h1 class="text-center mt-2 custom-h1">Love At First Flight</h1>

    <div class="container fade-main d-flex justify-content-center mt-5">
      <div class="col-10 col-md-6">
        <div class="col-md-10 mx-auto">
          <h2 class="text-center">login</h2>

          <form class="form login-form">
            <div class="form-group mb-2 row">
              <input
                class="form-input"
                type="text"
                id="email-login"
                placeholder="username"
              />
            </div>
            <div class="form-group mb-2 row">
              <input
                class="form-input"
                type="password"
                id="password-login"
                placeholder="password"
              />
            </div>
            <div class="form-group my-4 text-center">
              <button class="btn btn-primary" type="submit">login</button>
            </div>
          </form>
        </div>

        <div class="col-md-10 mx-auto">
          <h2 class="text-center mt-5">signup</h2>

          <form class="form signup-form">
            <div class="form-group mb-2 row">
              <input
                class="form-input"
                type="text"
                id="name-signup"
                placeholder="username"
              />
            </div>
            <div class="form-group mb-2 row">
              <input
                class="form-input"
                type="text"
                id="email-signup"
                placeholder="email"
              />
            </div>
            <div class="form-group mb-2 row">
              <input
                class="form-input"
                type="password"
                id="password-signup"
                placeholder="password"
              />
            </div>
            <div class="form-group my-4 text-center">
              <button class="btn btn-primary" type="submit">signup</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
