/* #colors {
color: #26DE81;
color: #D2DAE2;
color: #FED330;
color: #4B6584;
} */

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#logo {
width: 40vh;
height: auto;
margin-top: 5vh;
}

h2 {
  color: #26DE81;;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: normal;
  font-size: 1.5rem;
}

.custom-h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 3rem;
  color: #FED330;
  
}

.btn {
 background-color: rgba(38,222,129,.4);
 border: none;
}

.form-input {
  background: rgba(75, 101, 132, 0.4);
  height: 50px;
  border-radius: 0.5rem;
  border-color: #4B6584;
  margin-bottom: 1rem;
  color:#26DE81;
}
